body {
    background:url('product_images/914629.jpg')no-repeat center fixed;
    -webkit-background-size:cover;
    -moz-bacground-size:cover;
    -o-background-size:cover;
     background-size:cover;
}